div {
    background-color: seashell;
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 288px;

    border: 1px solid darkgrey;
}

#gameContainer {
    margin-right: auto;
    margin-left: auto;
    width: 288px;
    height: 512px;
}