div {
    background-color: seashell;
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 400px;

    border: 1px solid darkgrey;
}

#gameContainer {
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    height: 640px;
}